

.popup{

    &--none{
        display: none;
    }
    width: 540px;
    height: 400px;
    position: absolute;
    top: 20vh;
    left: 35%;
    background-color: #ffffff;
    //background-color: red;
    border: 3px solid #00000060;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
        font-size: 28px;
        font-weight: 500;
        color: #000000;
        width: 100%;
        text-align: center;
        margin: 28px 0;
    }
    &__input{
        width: 80%;
        height: 34px;
        border-radius: 6px;
        border: 1px solid #00000060;
        color: #000000;
        font-size: 18px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 0 auto 16px ;
        &:focus{
            border: 2px solid #A6DC61;
            transition: 0.3s;
        }
    }
    &__label{
        width: 80%;
        text-align: start;
        font-size: 21px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 0 0 8px 0;
    }
    &__select{
        width: 80%;
        height: 34px;
        border-radius: 8px;
    }
    &__btn{
        width: 50%;
        height: 38px;
        border-radius: 8px;
        background-color: #A6DC61;
        font-size: 18px;
        color: #ffffff;
        font-weight: 600;
        border: none;
        margin: 28px 0;

    }


    &__Travail{
        background-image: url(../../assets/images/boxTravail.png);
        width: 321px;
        height: 118px;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 10vh;
        left: 15vw;
        &--small{
            height: 60px;
            font-weight: 600;
        }
    }
    &__txtTravail{
        font-size: 21px;
        text-align: center;

        &--big{
            font-size: 28px;
            font-weight: 600;
        }
    }
    
}