@import 'utils/variables';
@import 'components/type';
@import 'components/nav';
@import 'components/navprofil';
@import 'components/popupcompte';
@import 'components/fonts';
@import 'components/jeux';
@import 'components/jeanFront';


*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

// body{
//     overflow-x: hidden;
// }
/// code jean

body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    list-style: 1.4;
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    list-style: none;
    overflow-x: hidden;
}

