@import 'utils/variables';
@import 'components/type';
@import 'components/nav';
@import 'components/navprofil';
@import 'components/popupcompte';


*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}